textarea{resize:none;}
button:hover{cursor:pointer;}
a{text-decoration:none !important;}

.custom-tab{padding:10px;text-decoration:none !important;}

/*customize bootstrap*/
.card{border-radius:0 !important;border-collapse:collapse;}
.card .card-title{padding-top:15px;}
.card img{width:100%;}

.container{margin-top:20px;}
.row{padding:0 15px !important;}


#header{padding:15px;}
#header .row{padding:5px 15px !important;}

#button-new{position:fixed;bottom:50px;right:50px;z-index:1000;}
#button-new i{line-height:25px;}




/*modal*/
.modal-title{display:inline-block;}
.modal .close{float:right;}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}